Package: procguard-agent
Version: %VERSION%
Section: base
Priority: optional
Architecture: amd64
Depends: libc6 (>= 2.14)
Maintainer: Kadir Ozer <kadir@example.com>
Description: ProcGuard Agent - System monitoring agent written in Go
